<div class="container container-fluid mt-5">
  <h1 style="text-align: center">{{userData.username}}</h1>
  {{#each userData.posts as |post|}}
  </br>
  </br>
  <div class="posts">
    <a href="/api/posts/{{post.id}}">
      <h2>{{post.title}}</h2>
    </a>
    <p>By: <span>{{post.user.username}}</span> on <span>{{format_time post.created_on}}</span></p>
    <p>{{post.contents}}</p>
  </div>
  </br>
  <a href="/dashboard/update/{{post.id}}" id="update-post">update this post</a>
  <span>•</span>
  <a href="/dashboard/delete/{{post.id}}" id="delete-post">delete this post</a>
  {{/each}}
  </br>
  </br>  
  </br>
  </br>
  <a href="/dashboard/new">create a new post</a>
</div>
</main>