<div class="container container-fluid mt-5">
  <div class="delete-post">
    <a href="/api/posts/{{post.id}}">
    <h2>{{post.title}}</h2>
  </a>
    <p>Posted by: <span>{{post.user.username}}</span> on <span>{{format_time post.created_on}}</span></p>
    <p>{{post.contents}}</p>
    <p>Comments:</p>
    {{#each post.comments as |comment|}}
    <p><strong>{{comment.user.username}}</strong> <i>said:</i> {{comment.contents}}</p>
    {{/each}}
  </div>
  <button class="btn-primary" id="delete-btn" data-num="{{post.id}}">delete</button>
</div>

<script src="/js/deletePost.js"></script>